#!/usr/bin/env bash
set -euo pipefail

src="{{ .chezmoi.sourceDir }}/key.txt.age"
dest="$HOME/.config/chezmoi/key.txt"

if [[ -f "$src" ]]; then
  mkdir -p "$(dirname "$dest")"
  chezmoi decrypt --output "$dest" "$src"
  chmod 600 "$dest"
fi
