[user]
  name = {{ .git_name }}
  email = {{ .git_email }}

[core]
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = main

[pull]
  rebase = false

[merge]
  conflictstyle = zdiff3

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig.work
